form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

form label {
  display: none;
}

.input__name {
  display: flex;
  width: calc(50%-0.5rem);
}

.input__email {
  display: flex;
  width: calc(50%-0.5rem);
}

.input__message {
  display: flex;
  width: 100%;
}

.btn__submit {
  display: flex;
}
